@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global */
body {
  @apply bg-gray-100 text-gray-900;
}

input {
  @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400;
}

button {
  @apply rounded px-4 py-2 font-medium transition;
}
